<nav id="menu">
  <li class="menu-item"><a href='/patients/new'>Add New</a></li>
</nav>

<div class="">
  <% @patients.each do |patient| %>
    <div class="">
      <img src="/images/<%= patient.pic %>"/>
      <div class="">
        <a href= "/patients/<%= patient.id %>"><%= patient.name %></a>
      </div>
      <a href= "/patients/<%= patient.id %>">Show Details</a>
    </div>
  <% end %>
</div>
