
<a class="add-new" href='/patients/new'>Add New</a>

<div class="list">
  Patients List
</div>

<div class="pat-index">
  <% @patients.each do |patient| %>
    <div class="pat-index-each">
      <img src="/images/<%= patient.pic %>"/>
      <div class="text">
        <h2><%= patient.name %></h2>
      </div>
      <div class="show-details">
        <form method="get" action="/patients/ <%= patient.id %>/show">
          <input type="submit" value="Show Details">
        </form>
      </div>
    </div>
  <% end %>
</div>
