<nav id="menu">
  <li class="menu-item"><a href='/patients/new'>Add New</a></li>
</nav>

<% @patients.each do |patient| %>

  <p>Name: <a href= "/patients/<%= patient.id %>"><%= patient.name + " " + patient.db %></a></p>

<% end %>
