<nav id="menu">
  <li class="menu-item"><a href='/patients/new'>Add New</a></li>
</nav>

  <table style="width:100%">
    <tr>
      <td>
        <% @patients.each do |patient| %>
        <img src="/images/<%= patient.pic %>"/>
        <a href= "/patients/<%= patient.id %>"><%= patient.name %></a>
        <a href= "/patients/<%= patient.id %>">Show Details</a>
        <% end %>
      </td>
    </tr>
  </table>
