
<form method="post" action="/patients">
  <label for="name">Name: </label>
  <input type="text" name="name" id="name">

  <label for="type">type: </label>
  <input type="text" name="type" id="type">

  <label for="db">Date of Birth: </label>
  <input type="text" name="db" id="db">

  <label for="owner_select">Select Owner:</label>
    <select name="owner_id" id="owner_select">
      <% @owners.each do |owner| %>
          <option value=<%= owner.id %>><%= owner.format_name %></option>
      <% end %>
  </select>

  <label for="vet_select">Select Vet:</label>
    <select name="vet_id" id="vet_select">
      <% @vets.each do |vet| %>
          <option value=<%= vet.id %>><%= vet.format_name %></option>
      <% end %>
  </select>

  <label for="notes">Appointment Notes: </label>
  <input type="text" name="notes" id="notes">

  <label for="pic">Picture: </label>
  <input type="text" name="pic" id="pic">

  <input type="submit" value="Save">
</form>
