<div class="list">
  Edit <%= @vet.format_name %>
</div>

<div class="pat-show">

  <div class="pat-index-each">
    <div class="show-text">
      <form method="POST" action="/vets/<%= @vet.id %>">
          <div class="form">
            <label for="first_name">First Name:</label>
            <input type="text" name="first_name" id="first_name" value="<%= @vet.first_name %>"/>
          </div>

          <div class="form">
            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name" id="last_name" value="<%= @vet.last_name%>"/>
          </div>

          <div class="form">
            <label for="pic">Picture: </label>
            <input type="text" name="pic" id="pic">
          </div>

          <div class="buttons">
            <input type="submit" value="Save"/>
          </div>
      </form>
    </div>
  </div>
</div>
