<nav id="menu">
  <li class="menu-item"><a href='/vets/new'>Add New</a></li>
</nav>

<div class="">
  <% @vets.each do |vet| %>
    <div class="">
      <img src="/images/vet.jpg" alt="">
      <div class="">
        <a href= "/vets/<%= vet.id %>"><%= vet.format_name %> </a>
      </div>
      <a href= "/vets/<%= vet.id %>">Show Details</a>
    </div>
  <% end %>
</div>

    
