
<a class="add-new" href='/vets/new'>Add New</a>

<div class="list">
  Veterinarians List
</div>

<div class="pat-index">
  <% @vets.each do |vet| %>
    <div class="pat-index-each">
      <div class="">
        <img src="/images/vet.jpg" alt="">
      </div>

      <div class="text">
        <%= vet.format_name %>
      </div>
      <div class="show-details">
        <form method="get" action="/vets/ <%= vet.id %>/show">
          <input type="submit" value="Show Details">
        </form>
      </div>
    </div>
  <% end %>
</div>
