<h2>Veterinarians List</h2>

<nav id="menu">
  <li class="menu-item"><a href='/vets/new'>Add New</a></li>
</nav>

<% @vets.each do |vet| %>

<div class="">
    <div class="">
      <img src="/images/vet.jpg" alt="">
      <div class="">
        <a href= "/vets/<%= vet.id %>"><%= vet.format_name %> </a>
      </div>
      <form method="get" action="/vets/ <%= vet.id %>/show">
        <input type="submit" value="Show Details">
      </form>
    </div>
</div>

<% end %>
