<div class="list">
  New Veterinarian
</div>

<div class="pat-show">
  <div class="pat-index-each">
    <form method="post" action="/vets">
      <div class="form">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" id="first_name">
      </div>
      <div class="form">
        <label for="last_name">Last Name: </label>
        <input type="text" name="last_name" id="last_name">
      </div>
      <div class="form">
        <label for="pic">Picture: </label>
        <input type="text" name="pic" id="pic">
      </div>
      <div class="buttons">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
