<div class="list">
  New Client
</div>

<div class="pat-show">
  <div class="pat-new-each">
    <form method="post" action="/owners">
      <div class="form">
        <label for="first_name">First Name: </label>
        <input type="text" name="first_name" id="first_name">
      </div>

    <div class="form">
      <label for="last_name">Last Name: </label>
      <input type="text" name="last_name" id="last_name">
    </div>

      <div class="form">
        <label for="contact">Contact: </label>
        <input type="text" name="contact" id="contact">
      </div>

      <div class="buttons">
        <input type="submit" value="Save">
      </div>
    </form>
  </div>

</div>
