<h2>New Client</h2>

  <div class="">
    <form method="post" action="/owners">
      <label for="first_name">First Name: </label>
      <input type="text" name="first_name" id="first_name">

      <label for="last_name">Last Name: </label>
      <input type="text" name="last_name" id="last_name">

      <label for="contact">Contact: </label>
      <input type="text" name="contact" id="contact">

      <input type="submit" value="Save">
    </form>
  </div>
